<div *ngIf="isLoading" class="loading-animation d-flex align-items-center justify-content-center">
    <div class="position-fixed top-50 start-50 translate-middle">
        <app-loader></app-loader>
    </div>
</div>
<div *ngIf="!isLoading" class="col-12">
    <h1>All types</h1>
    <div class="wrapper" *ngIf="types && types.results">
        <div *ngFor="let type of types.results; let i = index">
            <div class="icon" [ngClass]="type.name" (click)="redirectToType(type.url)">
                <img [src]="'../../../assets/move_types/' + (type.name) + '.svg'" />
            </div>
        </div>
    </div>
</div>