<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <div class="title-box">
                <h1 class="title" style="color: whitesmoke">{{ titulo }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <label>Name:</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Move..." [(ngModel)]="searchText"
                    (input)="filterMoves()" />
            </div>
        </div>
        <div class="col">
            <label>Type:</label>
            <select class="form-control" [(ngModel)]="selectedType" (change)="filterMoves()">
                <option value="">All</option>
                <option *ngFor="let type of types" [value]="type">{{ type }}</option>
            </select>
        </div>
        <div class="col">
            <label>Category:</label>
            <select class="form-control" [(ngModel)]="selectedCategory" (change)="filterMoves()">
                <option value="">All</option>
                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
        </div>
        <div class="col">
            <label>Sort By:</label>
            <select class="form-control" [(ngModel)]="sortBy" (change)="filterMoves()">
                <option value="id">ID</option>
                <option value="name">Name</option>
                <option value="type">Type</option>
                <option value="category">Category</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="isLoading" class="loading-animation d-flex align-items-center justify-content-center">
                <div class="position-fixed top-50 start-50 translate-middle">
                    <mat-spinner></mat-spinner>
                </div>
            </div>

            <div *ngIf="!isLoading">
                <div class="table-responsive">
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <!-- Add 'text-center' class to center the text in table headers -->
                                <th class="text-center">#</th>
                                <th>Move Name</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Power</th>
                                <th class="text-center">Accuracy</th>
                                <th class="text-center">PP</th>
                                <th class="text-center">Generation</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let move of filteredMoveArray; let i = index">
                                <td [ngClass]="['t-'+ move.type.name]">{{move.id}}</td>
                                <td (click)="redirectToMove(move.id)" [ngClass]="['t-'+ move.type.name]">
                                    <a class="clickable-move">{{ move.name.charAt(0).toUpperCase() + move.name.slice(1)
                                        }}</a>
                                </td>
                                <td [ngClass]="['t-'+ move.type.name]">
                                    <div class="icon" [ngClass]="move.type.name"
                                        (click)="redirectToType(move.type.url)">
                                        <img [src]="'../../../assets/move_types/' + (move.type.name) + '.svg'"
                                            [alt]="move.type.name" />
                                    </div>
                                </td>
                                <td [ngClass]="['t-'+ move.type.name]">
                                    <div>
                                        <img [src]="'../../../assets/move_categories/' + (move.damage_class.name) + '.png'"
                                            [alt]="move.damage_class.name" />
                                    </div>
                                </td>
                                <td [ngClass]="['t-'+ move.type.name]">
                                    <div *ngIf="moveArray[i].power; then thenBlock else elseBlock"></div>
                                    <ng-template #thenBlock>
                                        {{ moveArray[i].power }}
                                    </ng-template>
                                    <ng-template #elseBlock>
                                        <p>-</p>
                                    </ng-template>
                                </td>
                                <td [ngClass]="['t-'+ move.type.name]">
                                    <div *ngIf="moveArray[i].accuracy; then thenBlock1 else elseBlock1"></div>
                                    <ng-template #thenBlock1>
                                        {{ moveArray[i].accuracy }}
                                    </ng-template>
                                    <ng-template #elseBlock1>
                                        <p>-</p>
                                    </ng-template>
                                </td>
                                <td [ngClass]="['t-'+ move.type.name]">
                                    {{ moveArray[i].pp }}
                                </td>
                                <td style="text-transform: uppercase;" [ngClass]="['t-'+ move.type.name]">
                                    {{moveArray[i].generation.name.split('-')[1]}}
                                </td>
                                <td [ngClass]="['t-'+ move.type.name]">
                                    <div
                                        *ngIf="getEnglishDescription(moveArray[i].flavor_text_entries); then thenBlock2 else elseBlock2">
                                    </div>
                                    <ng-template #thenBlock2>
                                        {{ getEnglishDescription(moveArray[i].flavor_text_entries) }}
                                    </ng-template>
                                    <ng-template #elseBlock2>
                                        <p>No description available</p>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>