<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mx-auto my-4" style="width: 20rem;">
                <!-- Contenido de la primera tarjeta -->
                <div class="card-body text-center">
                    <div *ngIf="pokemon">
                        <h1 class="card-title text-center">{{ pokemon.name.charAt(0).toUpperCase() +
                            pokemon.name.slice(1)}}</h1>
                        <h5 class="card-text text-center">#{{pokemon.id}}</h5>
                    </div>
                    <div *ngIf="pokemon && pokemon.sprites">
                        <div *ngIf="pokemon.sprites.front_default; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <img style="width: 10rem;" class="mx-auto" [src]="pokemon.sprites.front_default" />
                        </ng-template>
                        <ng-template #elseBlock>
                            <div
                                *ngIf="pokemon.sprites['other']['official-artwork']['front_default']; then thenBlock1 else elseBlock1">
                            </div>
                            <ng-template #thenBlock1>
                                <img style="width: 10rem;" class="mx-auto"
                                    [src]="pokemon.sprites['other']['official-artwork']['front_default']" />
                            </ng-template>
                            <ng-template #elseBlock1>
                                <img style="width: 10rem;" class="mx-auto" src='../../../assets/imgs/missing.png' />
                            </ng-template>
                        </ng-template>
                    </div>
                    <h3 class="card-text">Types</h3>
                    <br>
                    <div *ngIf="pokemon && pokemon.id">
                        <ul class="list-unstyled text-center type-icons">
                            <li *ngFor="let type of pokemon.types">
                                <div class="icon" [ngClass]="type.type.name" (click)="redirectToType(type.type.url)">
                                    <img [src]="'../../../assets/move_types/' + (type.type.name) + '.svg'" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3 class="text-center">Shiny Sprites</h3>
                    <div *ngIf="pokemon && pokemon.sprites">
                        <div
                            *ngIf="pokemon.sprites.back_shiny != null || pokemon.sprites.front_shiny != null; then thenBlock2 else elseBlock2">
                        </div>
                        <ng-template #thenBlock2>
                            <img class="mx-auto" [src]="pokemon.sprites.back_shiny" />
                            <img class="mx-auto" [src]="pokemon.sprites.front_shiny" />
                        </ng-template>
                        <ng-template #elseBlock2>
                            <div
                                *ngIf="pokemon.sprites['other']['official-artwork']['front_shiny']; then thenBlock3 else elseBlock3">
                            </div>
                            <ng-template #thenBlock3>
                                <img style="width: 10rem;" class="mx-auto"
                                    [src]="pokemon.sprites['other']['official-artwork']['front_shiny']" />
                            </ng-template>
                            <ng-template #elseBlock3>
                                <p>No shiny sprite available</p>
                            </ng-template>
                        </ng-template>
                    </div>

                    <div class="d-flex justify-content-around">
                        <button mat-raised-button color="primary" extended (click)="redirectminus()">
                            Anterior
                        </button>
                        <button mat-raised-button color="primary" (click)="redirectplus()">
                            Siguiente
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card mx-auto my-4" style="width: 20rem;">
                        <!-- Contenido de la tercera tarjeta (Abilities) -->
                        <div class="card-body text-center">
                            <h3 class="card-text">Abilities</h3>
                            <div *ngIf="pokemon && pokemon.abilities">
                                <ul class="list-unstyled text-center">
                                    <li *ngFor="let ability of pokemon.abilities">
                                        {{ ability.ability.name.charAt(0).toUpperCase() +
                                        ability.ability.name.slice(1)}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto my-4" style="width: 20rem;">
                <!-- Contenido de la segunda tarjeta (Stats) -->
                <div class="card-body text-center">
                    <h3 class="card-text">Stats</h3>
                    <div *ngIf="pokemon && pokemon.stats">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let stat of pokemon.stats">
                                        <td>{{ stat.stat.name.charAt(0).toUpperCase() +
                                            stat.stat.name.slice(1)}}</td>
                                        <td>{{ stat.base_stat }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="chain">
        <div class="card mx-auto my-4"
            *ngIf="chain.chain.evolves_to.length > 0 || species.evolves_from_species != null">
            <h1 class="mt-4 card-title text-center"> {{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)}}
                evolution chain</h1>
            <div *ngFor="let evol of chain.chain.evolves_to; let i = index">
                <div *ngIf="evol.evolves_to.length > 0; then thenBlock2 else elseBlock2"></div>
                <ng-template #elseBlock2>
                    <!-- Si hay 2 evoluciones -->
                    <div class="row justify-content-around">
                        <div class="col">
                            <!-- Contenido de la primera tarjeta -->
                            <!-- Puedes usar el mismo estilo "card mx-auto my-4" o personalizarlo según tus necesidades -->
                            <div class="card mx-auto my-4" style="width: 20rem;">
                                <div class="card-body text-center"
                                    *ngIf="pokemonArray[findPokemonInArray(chain.chain.species.name)]">
                                    <h5 class="card-text">{{chain.chain.species.name.charAt(0).toUpperCase() +
                                        chain.chain.species.name.slice(1)}}</h5>
                                    <img
                                        [src]="pokemonArray[findPokemonInArray(chain.chain.species.name)].sprites.front_default">
                                </div>
                            </div>
                        </div>
                        <div class="col align-self-center">
                            <!-- Flecha hacia la izquierda -->
                            <div class="text-center">
                                <i class="fa-solid fa-right-long"></i>
                            </div>
                            <div class="text-center">
                                <p>
                                    {{evol.evolution_details[0].trigger.name.charAt(0).toUpperCase() +
                                    evol.evolution_details[0].trigger.name.slice(1)}}
                                </p>
                            </div>
                            <div class="text-center">
                                <div
                                    *ngIf="evol.evolution_details[0].gender !== null && evol.evolution_details[0].gender !== false">
                                    <ng-container *ngIf="evol.evolution_details[0].gender == 1">
                                        <img src="../../../assets/imgs/female.png" style="max-width: 1rem;">
                                    </ng-container>
                                    <ng-container *ngIf="evol.evolution_details[0].gender == 2">
                                        <img src="../../../assets/imgs/male.png" style="max-width: 1rem;">
                                    </ng-container>
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].held_item !== null && evol.evolution_details[0].held_item !== false && itemArray[findImageByName(evol.evolution_details[0].held_item.name)].sprites">
                                    Held: <img
                                        [src]="itemArray[findImageByName(evol.evolution_details[0].held_item.name)].sprites.default">
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].item !== null && evol.evolution_details[0].item !== false && itemArray[findImageByName(evol.evolution_details[0].item.name)].sprites">
                                    <img
                                        [src]="itemArray[findImageByName(evol.evolution_details[0].item.name)].sprites.default">
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].known_move !== null && evol.evolution_details[0].known_move !== false">
                                    Known Move: {{ evol.evolution_details[0].known_move.name }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].known_move_type !== null && evol.evolution_details[0].known_move_type !== false">
                                    Known Move Type: {{ evol.evolution_details[0].known_move_type.name }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].location !== null && evol.evolution_details[0].location !== false">
                                    Location: {{ evol.evolution_details[0].location.name }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].min_affection !== null && evol.evolution_details[0].min_affection !== false">
                                    Affection: {{ evol.evolution_details[0].min_affection }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].min_beauty !== null && evol.evolution_details[0].min_beauty !== false">
                                    Beauty: {{ evol.evolution_details[0].min_beauty }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].min_happiness !== null && evol.evolution_details[0].min_happiness !== false">
                                    Happiness: {{ evol.evolution_details[0].min_happiness }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].min_level !== null && evol.evolution_details[0].min_level !== false">
                                    Level: {{ evol.evolution_details[0].min_level }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].needs_overworld_rain !== null && evol.evolution_details[0].needs_overworld_rain !== false">
                                    Needs Overworld Rain: {{ evol.evolution_details[0].needs_overworld_rain }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].party_species !== null && evol.evolution_details[0].party_species !== false">
                                    Party Species: {{ evol.evolution_details[0].party_species }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].party_type !== null && evol.evolution_details[0].party_type !== false">
                                    Party Type: {{ evol.evolution_details[0].party_type }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].relative_physical_stats !== null && evol.evolution_details[0].relative_physical_stats !== false">
                                    Relative Physical Stats: {{ evol.evolution_details[0].relative_physical_stats }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].time_of_day !== null && evol.evolution_details[0].time_of_day !== false && evol.evolution_details[0].time_of_day !==''">
                                    Time of Day: {{ evol.evolution_details[0].time_of_day }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].trade_species !== null && evol.evolution_details[0].trade_species !== false">
                                    Trade Species: {{ evol.evolution_details[0].trade_species }}
                                </div>

                                <div
                                    *ngIf="evol.evolution_details[0].turn_upside_down !== null && evol.evolution_details[0].turn_upside_down !== false">
                                    Turn Upside Down: {{ evol.evolution_details[0].turn_upside_down }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Contenido de la segunda tarjeta -->
                            <!-- Puedes usar el mismo estilo "card mx-auto my-4" o personalizarlo según tus necesidades -->
                            <div class="card mx-auto my-4" style="width: 20rem;">
                                <div class="card-body text-center"
                                    *ngIf="pokemonArray[findPokemonInArray(evol.species.name)]">
                                    <h5 class="card-text">{{evol.species.name.charAt(0).toUpperCase() +
                                        evol.species.name.slice(1)}}</h5>
                                    <img
                                        [src]="pokemonArray[findPokemonInArray(evol.species.name)].sprites.front_default">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #thenBlock2>
                    <!-- Si no hay 3 evoluciones -->
                    <div *ngFor="let evolve of chain.chain.evolves_to[i].evolves_to; let ind = index">
                        <div class="row justify-content-around">
                            <div class="col">
                                <!-- Contenido de la primera tarjeta -->
                                <!-- Puedes usar el mismo estilo "card mx-auto my-4" o personalizarlo según tus necesidades -->
                                <div class="card mx-auto my-4" style="width: 20rem;">
                                    <div class="card-body text-center"
                                        *ngIf="pokemonArray[findPokemonInArray(chain.chain.species.name)]">
                                        <h5 class="card-text">{{chain.chain.species.name.charAt(0).toUpperCase() +
                                            chain.chain.species.name.slice(1)}}</h5>
                                        <img
                                            [src]="pokemonArray[findPokemonInArray(chain.chain.species.name)].sprites.front_default">
                                    </div>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <!-- Flecha hacia la izquierda -->
                                <div class="text-center">
                                    <i class="fa-solid fa-right-long"></i>
                                </div>
                                <div class="text-center">
                                    <div
                                        *ngIf="evol.evolution_details[0].trigger !== null && evol.evolution_details[0].trigger !== false">
                                        {{ evol.evolution_details[0].trigger.name }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].gender !== null && evol.evolution_details[0].gender !== false">
                                        <ng-container *ngIf="evolve.evolution_details[0].gender == 1">
                                            <img src="../../../assets/imgs/female.png" style="max-width: 1rem;">
                                        </ng-container>
                                        <ng-container *ngIf="evol.evolution_details[0].gender == 2">
                                            <img src="../../../assets/imgs/male.png" style="max-width: 1rem;">
                                        </ng-container>
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].held_item !== null && evol.evolution_details[0].held_item !== false">
                                        Held: <img
                                            [src]="itemArray[findImageByName(evol.evolution_details[0].held_item.name)].sprites.default">
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].item !== null && evol.evolution_details[0].item !== false">
                                        <img
                                            [src]="itemArray[findImageByName(evol.evolution_details[0].item.name)].sprites.default">
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].known_move !== null && evol.evolution_details[0].known_move !== false">
                                        Known Move: {{ evol.evolution_details[0].known_move }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].known_move_type !== null && evol.evolution_details[0].known_move_type !== false">
                                        Known Move Type: {{ evol.evolution_details[0].known_move_type }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].location !== null && evol.evolution_details[0].location !== false">
                                        Location: {{ evol.evolution_details[0].location }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].min_affection !== null && evol.evolution_details[0].min_affection !== false">
                                        Affection: {{ evol.evolution_details[0].min_affection }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].min_beauty !== null && evol.evolution_details[0].min_beauty !== false">
                                        Beauty: {{ evol.evolution_details[0].min_beauty }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].min_happiness !== null && evol.evolution_details[0].min_happiness !== false">
                                        Happiness: {{ evol.evolution_details[0].min_happiness }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].min_level !== null && evol.evolution_details[0].min_level !== false">
                                        Level: {{ evol.evolution_details[0].min_level }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].needs_overworld_rain !== null && evol.evolution_details[0].needs_overworld_rain !== false">
                                        Needs Overworld Rain: {{ evol.evolution_details[0].needs_overworld_rain }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].party_species !== null && evol.evolution_details[0].party_species !== false">
                                        Party Species: {{ evol.evolution_details[0].party_species }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].party_type !== null && evol.evolution_details[0].party_type !== false">
                                        Party Type: {{ evol.evolution_details[0].party_type }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].relative_physical_stats !== null && evol.evolution_details[0].relative_physical_stats !== false">
                                        Relative Physical Stats: {{ evol.evolution_details[0].relative_physical_stats }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].time_of_day !== null && evol.evolution_details[0].time_of_day !== false && evol.evolution_details[0].time_of_day !== ''">
                                        Time of Day: {{ evol.evolution_details[0].time_of_day }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].trade_species !== null && evol.evolution_details[0].trade_species !== false">
                                        Trade Species: {{ evol.evolution_details[0].trade_species }}
                                    </div>

                                    <div
                                        *ngIf="evol.evolution_details[0].turn_upside_down !== null && evol.evolution_details[0].turn_upside_down !== false">
                                        Turn Upside Down: {{ evol.evolution_details[0].turn_upside_down }}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Contenido de la segunda tarjeta -->
                                <!-- Puedes usar el mismo estilo "card mx-auto my-4" o personalizarlo según tus necesidades -->
                                <div class="card mx-auto my-4" style="width: 20rem;">
                                    <div class="card-body text-center"
                                        *ngIf="pokemonArray[findPokemonInArray(evol.species.name)]">
                                        <h5 class="card-text">{{evol.species.name.charAt(0).toUpperCase() +
                                            evol.species.name.slice(1)}}</h5>
                                        <img
                                            [src]="pokemonArray[findPokemonInArray(evol.species.name)].sprites.front_default">
                                    </div>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <!-- Flecha hacia la izquierda -->
                                <div class="text-center">
                                    <i class="fa-solid fa-right-long"></i>
                                    <div class="text-center">
                                        <div
                                            *ngIf="evolve.evolution_details[0].trigger !== null && evolve.evolution_details[0].trigger !== false">
                                            {{ evolve.evolution_details[0].trigger.name }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].gender !== null && evolve.evolution_details[0].gender !== false">
                                            <ng-container *ngIf="evolve.evolution_details[0].gender == 1">
                                                <img src="../../../assets/imgs/female.png" style="max-width: 1rem;">
                                            </ng-container>
                                            <ng-container *ngIf="evolve.evolution_details[0].gender == 2">
                                                <img src="../../../assets/imgs/male.png" style="max-width: 1rem;">
                                            </ng-container>
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].held_item !== null && evolve.evolution_details[0].held_item !== false && itemArray[findImageByName(evolve.evolution_details[0].held_item.name)]">
                                            Held: <img
                                                [src]="itemArray[findImageByName(evolve.evolution_details[0].held_item.name)].sprites.default">
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].item !== null && evolve.evolution_details[0].item !== false && itemArray[findImageByName(evolve.evolution_details[0].item.name)]">
                                            <img
                                                [src]="itemArray[findImageByName(evolve.evolution_details[0].item.name)].sprites.default">
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].known_move !== null && evolve.evolution_details[0].known_move !== false">
                                            Known Move: {{ evolve.evolution_details[0].known_move }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].known_move_type !== null && evolve.evolution_details[0].known_move_type !== false">
                                            Known Move Type: {{ evolve.evolution_details[0].known_move_type }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].location !== null && evolve.evolution_details[0].location !== false">
                                            Location: {{ evolve.evolution_details[0].location }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].min_affection !== null && evolve.evolution_details[0].min_affection !== false">
                                            Affection: {{ evolve.evolution_details[0].min_affection }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].min_beauty !== null && evolve.evolution_details[0].min_beauty !== false">
                                            Beauty: {{ evolve.evolution_details[0].min_beauty }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].min_happiness !== null && evolve.evolution_details[0].min_happiness !== false">
                                            Happiness: {{ evolve.evolution_details[0].min_happiness }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].min_level !== null && evolve.evolution_details[0].min_level !== false">
                                            Level: {{ evolve.evolution_details[0].min_level }}
                                        </div>

                                        <div
                                            *ngIf="evol.evolution_details[0].needs_overworld_rain !== null && evol.evolution_details[0].needs_overworld_rain !== false">
                                            Needs Overworld Rain: {{ evol.evolution_details[0].needs_overworld_rain }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].party_species !== null && evolve.evolution_details[0].party_species !== false">
                                            Party Species: {{ evolve.evolution_details[0].party_species }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].party_type !== null && evolve.evolution_details[0].party_type !== false">
                                            Party Type: {{ evolve.evolution_details[0].party_type }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].relative_physical_stats !== null && evolve.evolution_details[0].relative_physical_stats !== false">
                                            Relative Physical Stats: {{
                                            evolve.evolution_details[0].relative_physical_stats }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].time_of_day !== null && evolve.evolution_details[0].time_of_day !== false && evolve.evolution_details[0].time_of_day !== ''">
                                            Time of Day: {{ evolve.evolution_details[0].time_of_day }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].trade_species !== null && evolve.evolution_details[0].trade_species !== false">
                                            Trade Species: {{ evolve.evolution_details[0].trade_species }}
                                        </div>

                                        <div
                                            *ngIf="evolve.evolution_details[0].turn_upside_down !== null && evolve.evolution_details[0].turn_upside_down !== false">
                                            Turn Upside Down: {{ evolve.evolution_details[0].turn_upside_down }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Contenido de la tercera tarjeta -->
                                <!-- Puedes usar el mismo estilo "card mx-auto my-4" o personalizarlo según tus necesidades -->
                                <div class="card mx-auto my-4" style="width: 20rem;">
                                    <div class="card-body text-center"
                                        *ngIf="pokemonArray[findPokemonInArray(evolve.species.name)]">
                                        <h5 class="card-text">{{evolve.species.name.charAt(0).toUpperCase() +
                                            evolve.species.name.slice(1)}}</h5>
                                        <img
                                            [src]="pokemonArray[findPokemonInArray(evolve.species.name)].sprites.front_default">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div *ngIf="pokemon && pokemon.name">
        <h1 class="text-center">
            {{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)}} can learn this moves
        </h1>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="isLoading"
                class="col-12 loading-animation d-flex align-items-center justify-content-center text-center">
                <div class="position-fixed top-50 start-50 translate-middle">
                    <mat-spinner></mat-spinner>
                </div>
            </div>

            <div *ngIf="!isLoading">
                <div class="table-responsive">
                    <table class="table table-vertical">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Move Name</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Power</th>
                                <th class="text-center">Accuracy</th>
                                <th class="text-center">PP</th>
                                <th class="text-center">Learned at level</th>
                                <th class="text-center">Learn method</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let move of pokemon.moves; let i = index">
                                <td class="text-center" *ngIf="moveArray[i]">
                                    {{ moveArray[i].id}}
                                </td>
                                <td class="text-center" (click)="redirectToMove(move.move.url)" *ngIf="moveArray[i]">
                                    <a class="clickable-move">{{ moveArray[i].name.charAt(0).toUpperCase() +
                                        moveArray[i].name.slice(1) }}</a>
                                </td>
                                <td class="text-center" *ngIf="moveArray[i]">
                                    <div class="icon" [ngClass]="moveArray[i].type.name"
                                        (click)="redirectToType(moveArray[i].type.url)">
                                        <img [src]="'../../../assets/move_types/' + (moveArray[i].type.name) + '.svg'"
                                            [alt]="moveArray[i].type.name" />
                                    </div>
                                </td>
                                <td class="text-center" *ngIf="moveArray[i]">
                                    <div>
                                        <img [src]="'../../../assets/move_categories/' + (moveArray[i].damage_class.name) + '.png'"
                                            [alt]="moveArray[i].damage_class.name" />
                                    </div>
                                </td>
                                <td class="text-center" *ngIf="moveArray[i]">
                                    <div *ngIf="moveArray[i].power; then thenBlock else elseBlock"></div>
                                    <ng-template #thenBlock>
                                        {{ moveArray[i].power }}
                                    </ng-template>
                                    <ng-template #elseBlock>
                                        <p>-</p>
                                    </ng-template>
                                </td>
                                <td class="text-center" *ngIf="moveArray[i]">
                                    <div *ngIf="moveArray[i].accuracy; then thenBlock1 else elseBlock1"></div>
                                    <ng-template #thenBlock1>
                                        {{ moveArray[i].accuracy }}
                                    </ng-template>
                                    <ng-template #elseBlock1>
                                        <p>-</p>
                                    </ng-template>
                                </td>
                                <td class="text-center" *ngIf="moveArray[i]">
                                    {{ moveArray[i].pp }}
                                </td>
                                <td class="text-center" *ngIf="moveArray[i]">
                                    {{ move.version_group_details[0].level_learned_at }}
                                </td>
                                <td class="text-center" *ngIf="moveArray[i]">
                                    {{ move.version_group_details[0].move_learn_method.name.charAt(0).toUpperCase() +
                                    move.version_group_details[0].move_learn_method.name.slice(1) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>